@{
  Layout = "_Layout";
}

<div class="about-container">
  <div class="about d-inline-block">
    <img class="aboutimg" src="Chloe">
    <div class="abouttext">Chloe</div>
  </div>
  
  <div class="about d-inline-block">
    <img class="aboutimg" src="Louie">
    <div class="abouttext">Louie</div>
  </div>
  <div class="about d-inline-block">
    <img class="aboutimg" src="~/img/scott.jpg">
    <div class="abouttext">Scott</div>
  </div>
</div>