@{
  Layout = "_Layout";
}

<h3>High quality README's yadda yadda</h3>
<p>These READMEs are free to use, in the spirit of open source development. Donations are optional and go towards maintaining this site. Original README makers can be found by clicking on the desired template and selecting the "GitHub" link.</p>

