@{
  Layout = "_Layout";
}

<div class="splashcontent">
  <p><em>
    Dolor omnis consequatur natus minima fuga eos sequi. Quisquam sint nihil dolorem ut aut. Earum ratione culpa illo molestiae error a nam. Voluptatem rerum quae officiis voluptatem. Qui et possimus nostrum.
    
    Necessitatibus et facere facere. Cumque similique incidunt aut iste vitae eos quas eaque. Voluptatem sed et quia corrupti quod est quae. Minima ex aut itaque.
  </em></p>
</div>

<a href="#" class="donate">DONATE</a>