@{
    @* ViewData["Title"] = "Home Page"; *@
    Layout = "_Layout";
}

<div class="text-center pb-5">
    <h1 class="display-4">Welcome to Marked Down!</h1>
    <h5><em>Your one-stop shop for READMEs!</em></h5>
</div>

@* <div class="redirect">
  @Html.ActionLink("Check our products","Index", "Products")
</div> *@


<div class="socials">
  <a href=""><img class="socialimg" src="~/img/social/fb.png"></a>
  <a href=""><img class="socialimg" src="~/img/social/ig.png"></a>
  <a href=""><img class="socialimg" src="~/img/social/twitter.png"></a>
  <a href=""><img class="socialimg" src="~/img/social/share.png"></a>
</div>
@* <div class="center examples">
    <img class="d-inline-block w-25" src="~/img/template1.jpg">
    <img class="d-inline-block w-25" src="~/img/template2.jpg">
    <img class="d-inline-block w-25" src="~/img/template3.1.jpg">
    
</div> *@