@{
    @* ViewData["Title"] = "Home Page"; *@
    Layout = "_Layout";
}

<div class="text-center pb-5">
    <h1 class="display-4">Welcome to Marked Down!</h1>
    <h5><em>Your one-stop shop for READMEs!</em></h5>
</div>

@* <div class="redirect">
  @Html.ActionLink("Check our products","Index", "Products")
</div> *@

<div class="splashcontent">
  <p><em>
    Qui at corporis eos odit corporis. Aut temporibus eaque labore. Cumque sunt ut officiis magnam sapiente aut dolorem. Tempore ab quae eligendi.
    
    Dolor omnis consequatur natus minima fuga eos sequi. Quisquam sint nihil dolorem ut aut. Earum ratione culpa illo molestiae error a nam. Voluptatem rerum quae officiis voluptatem. Qui et possimus nostrum.
    
    Necessitatibus et facere facere. Cumque similique incidunt aut iste vitae eos quas eaque. Voluptatem sed et quia corrupti quod est quae. Minima ex aut itaque.
    
    Ducimus ut atque ab explicabo. Enim porro maxime quas quae neque quidem temporibus. Debitis optio pariatur vitae iure. Impedit corrupti et deserunt. Nihil non consequuntur incidunt recusandae. Incidunt maxime corrupti aliquid.
    
    Numquam enim sit recusandae possimus sit cupiditate velit. Magnam est in placeat voluptates animi explicabo laborum doloremque. Non expedita omnis suscipit eos maiores facilis dignissimos.
  </em></p>
</div


<div class="socials">
  <a href=""><img class="socialimg" src="~/img/social/fb.png"></a>
  <a href=""><img class="socialimg" src="~/img/social/ig.png"></a>
  <a href=""><img class="socialimg" src="~/img/social/twitter.png"></a>
  <a href=""><img class="socialimg" src="~/img/social/share.png"></a>
</div>
@* <div class="center examples">
    <img class="d-inline-block w-25" src="~/img/template1.jpg">
    <img class="d-inline-block w-25" src="~/img/template2.jpg">
    <img class="d-inline-block w-25" src="~/img/template3.1.jpg">
    
</div> *@