  /* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
  
  .navbar {
    background: linear-gradient(#F1FAEE, #A8DADC);
  }
  
  .socials {
    position: relative;
    bottom: -200px;
  }
  
  .about-container {
    text-align: center;
    color: seashell;
  }
  
  .abouttext {
    width: fit-content;
    border-radius: 25% 25% 25% 25%;
    border: 3px inset rgb(201, 197, 197);
    color: #1D3557;
  }
  
  .aboutimg {
    border-radius: 25% 25% 25% 25%;
    border: 3px inset rgb(201, 197, 197);
    height: 200px;
    width: 200px;
    margin: 50px;
  }
  
  .productimgs {
    height: auto;
    width: 75%;
    margin: 10%;
  }
  
  .donate {
    background: #00684d;
    background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.4) 100%), -webkit-linear-gradient(left, lighten(#00684d, 15%) 0%, #00684d 50%, lighten(#00684d, 15%) 100%);
    background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.4) 100%), linear-gradient(to right, lighten(#00684d, 15%) 0%, #00684d 50%, lighten(#00684d, 15%) 100%);
    background-position: 0 0;
    background-size: 200% 100%;
    border-radius: 4px;
    color: #fff;
    padding: 15px 65px 15px 15px;
    text-shadow: 1px 1px 5px #666;
    -webkit-transition: all 800ms;
    transition: all 800ms;
    margin-top: 20px;
  }
  
  .nav-item:hover {
    cursor: pointer;
  }
  
  a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
  }
  /* Provide sufficient contrast against white background */
  
  a {
    color: #0366d6;
  }
  
  .btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
  }
  
  .nav-pills .nav-link.active,
  .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
  }
  /* Sticky footer styles
-------------------------------------------------- */
  
  html {
    font-size: 14px;
  }
  
  @media (min-width: 768px) {
    html {
      font-size: 16px;
    }
  }
  
  .border-top {
    border-top: 1px solid #e5e5e5;
  }
  
  .border-bottom {
    border-bottom: 1px solid #e5e5e5;
  }
  
  .box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
  }
  
  button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
  }
  /* Sticky footer styles
-------------------------------------------------- */
  
  html {
    position: relative;
    min-height: 100%;
  }
  
  body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-color: #F1FAEE;
  }
  
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
    background-color: #A8DADC;
    /* Vertically center the text there */
  }